@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    font-weight: 400;
}

/* GLOBAL start */
.container {
    width: 1110px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noto Serif', serif;
}

.btn {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;

    padding: 15px 35px;
}

/* GLOBAL end */

/* HEADER start */

.header {
    background-image: url('./images/bgc.png');
    background-position: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-left {
    display: flex;
    gap: 40px;
}

.menu-left>a {
    text-decoration: none;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
}

.menu-right {
    display: flex;
}

.search {
    color: white;
    display: flex;
    gap: 16px;
}

.sign {
    font-size: 14px;
    line-height: 150%;
    text-align: right;
    color: #FFFFFF;
    margin-left: 40px;
    margin-right: 44px;
    text-decoration: none;
}

.account {
    display: flex;
    gap: 25px;
}

.account>a {
    text-decoration: none;
}

.header-content {
    text-align: center;
    margin-top: 523px;
}

.header-title {
    font-family: 'Noto Serif';
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #FFFFFF;
}

.header-btn {
    margin-top: 50px;
    color: #FFFFFF;
    background-color: #333;
    border: 1px solid #FFFFFF;
}

.header-bottom {
    border-top: 1px solid #FFFFFF;
    padding: 30px 0;
    margin-top: 80px;
}

/* HEADER end */

/* PRODUCTS start */

.products {
    padding: 100px 0 120px;
}

.products-subtitle {
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    color: #333333;
}

.products-title {
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #333333;
    margin: 15px 0 60px;
}

.tabs {
    display: flex;
    gap: 18px;
    align-items: flex-start;
    margin-bottom: 55px;
}

.tabs-item {
    width: 165px;
    margin-left: 6px;
    background: #F9F9F9;
    border: 1px solid #D6D6D6;
    padding: 17px 0;
    position: relative;


    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #333333;
}

.tabs-item::before {
    content: '';
    width: 100%;
    height: 100%;
    border: 1px solid #D6D6D6;
    position: absolute;
    top: 6px;
    left: 6px;
    z-index: -1;
}

.active-tab {
    padding: 20px 0;
    background: #333333;
    color: #FFFFFF;
}

.active-tab.tabs-item::before {
    width: 0;
    height: 0;
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.product-card {
    width: calc((100% - 60px) /3);
    height: 280px;
    position: relative;
}

.product-card>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.product-card>h3 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 100%;
    position: absolute;
    bottom: 30px;
    left: 0;
}

/* PRODUCT end */

/* INFO start */
.info {
    background-image: url('./images/bgi2.jpg');
    background-position: center;
    padding: 100px 0;
}

.info>.container {
    width: 730px;
    text-align: center;
}

.info-subtitle {
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 15px;
}

.info-title {
    font-family: 'Noto Serif';
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #FFFFFF;
}

.info-text {
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    margin: 45px 0 60px;
}

/* INFO end */

/* POSTS start */

.blog {
    padding: 120px 0 135px;
}

.blog-subtitle {
    font-family: 'Gilroy';
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    color: #333333;
}

.blog-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #333333;
    margin: 15px 0 60px;
}

.blog-cards {
    display: flex;
    gap: 30px;
}

.blog-card {
    width: 350px;
    height: 370px;
    position: relative;
}

.blog-card>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-card>p {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 35px;

    font-size: 21px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
}

.btn-wrapper {
    text-align: center;
    margin-top: 60px;
}

.blog-btn {
    background: #333333;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}

/* BLOG end */

/* SOCIAL */
.social {
    text-align: center;
    color: #333333;
    padding-bottom: 150px;
}

.social-subtitle {
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 21px;
    line-height: 140%;
}

.social-title {
    font-size: 30px;
    line-height: 41px;
    margin: 15px 0 60px;
}

.media {
    display: flex;
    flex-wrap: wrap;
}

.video {
    width: 50%;
}

.image {
    width: 25%;
}